.btn {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: $Black;
    border-color: $Black;
    background-color: $White;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    border: 3px solid;
    padding: 12px 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease all 0s;

    @media screen and (min-width: 992px) {
        &:hover {
            border-color: $Red;
            color: $Red;
        }
    }

    &-red {
        border-color: $Red;
        color: $Red;

        @media screen and (min-width: 992px) {
            &:hover {
                border-color: $Black;
                color: $Black;
            }
        }
    }

    &-more {
        border: 0;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0.2px;
		color: $Red;
		display: inline-flex;
		align-items: center;
		white-space: nowrap;
        padding: 0; 
        
        @media screen and (min-width: 992px) {
			&:hover {
				span {
					&::before {
						transform: translate(-50%, 0) scale(1);
					}
				}
			}
		}

		span {
            margin-right: 7px;
            position: relative;

			&::before {
				content: "";
				display: block;
				height: 1px;
				width: 100%;
				background-color: $Red;
				position: absolute;
				left: 50%;
				bottom: 0;
				transform: translate(-50%, 0) scale(0);
				transition: 0.3s ease all 0s;
			}
		}

		i {
			font-size: 9px;
		}
    }
}