.form {
    // .form__body
    &__body {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s ease 0s;
        }

        &._sending {
            &::after {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    // .form__title
    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        @include adaptiv-value("padding-bottom", 35, 20, 1);
    }

    // .form__item
    &__item {
        margin: 0px 0px 20px 0px;
    }

    // .form__label
    &__label {
        display: block;
        margin: 0px 0px 10px 0px;
    }

    // .form__input
    &__input {
        height: 40px;
        padding: 10px 15px;
        border-radius: 3px;
        width: 100%;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 1%;
        color: $Black;
        border: 1px solid $Grey;
        transition: all 0.5s ease 0s;

        &::placeholder {
            transition: 0.5s ease all 0s;
            color: $Grey;
        }

        &:focus {
            &::placeholder {
                opacity: 0;
            }
        }

        &._error {
            box-shadow: 0 0 15px red;
        }
    }

    // .form__button
    &__button {
    }
}

.options {
    padding: 10px 0px 0px 0px;

    // .options__item
    &__item {
        margin: 0px 0px 10px 0px;
    }

    // .options__input
    &__input {
        display: none;

        &:checked + .options__label::after {
            transform: scale(1);
        }
    }

    // .options__label
    &__label {
        display: inline-flex;
        align-items: center;
        position: relative;
        cursor: pointer;

        &::before {
            content: "";
            align-self: flex-start;
            flex: 0 0 24px;
            height: 24px;
            background-color: #fff;
            border-radius: 50%;
            margin: 0px 10px 0px 0px;
        }

        &::after {
            content: "";
            position: absolute;
            top: 4px;
            left: 4px;
            width: 16px;
            height: 16px;
            background-color: #7a956b;
            border-radius: 50%;
            transform: scale(0);
            transition: transform 0.5s ease 0s;
        }
    }
}

.file {
    // .file__item
    &__item {
        position: relative;
    }

    // .file__input
    &__input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        font-size: 0;
        cursor: pointer;
    }

    // .file__button
    &__button {
        display: inline-flex;
        min-height: 40px;
        border-radius: 30px;
        justify-content: center;
        align-items: center;
        background-color: #77608d;
        padding: 0px 20px;
    }

    // .file__preview
    &__preview {
        display: inline-block;
        max-width: 100px;
        padding: 10px 0px 0px 0px;

        img {
            max-width: 100%;
        }
    }
}

.checkbox {
    &._error {
        .checkbox__label::before {
            box-shadow: 0 0 15px red;
        }
    }

    // .checkbox__input
    &__input {
        display: none;
    }

    // .checkbox__label
    &__label {
        width: 100%;
        font-size: 16px;
        line-height: 140%;
        display: inline-flex;
        align-items: center;
        position: relative;
        cursor: pointer;

        &::before {
            content: "";
            align-self: flex-start;
            flex: 0 0 15px;
            height: 15px;
            background-color: #fff;
            border: 1px solid $DGrey;
            border-radius: 0;
            margin: 0px 10px 0px 0px;

            @media screen and (max-width: 400px) {
                margin-right: 4px;
            }
        }

        &::after {
            content: "";
            width: 11px;
            height: 11px;
            position: absolute;
            top: 2px;
            left: 2px;
            background: url(../img/icons/checkbox-checked.svg) no-repeat center/cover;
            transform: scale(0);
            transition: transform 0.5s ease 0s;
        }

        a {
            color: #7a956b;
        }
    }

    &__input:checked + .checkbox__label::after {
        transform: scale(1);
    }
}

textarea.form__input {
    min-height: 120px;
    resize: vertical;
    padding: 20px;
}
