/*! nouislider - 14.6.3 - 11/19/2020 */

/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */

.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.noUi-target {
  position: relative;
}

.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

/* Wrapper for all connect elements.
 */

.noUi-connects {
  overflow: hidden;
  z-index: 0;
}

.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  -webkit-transform-style: flat;
          transform-style: flat;
}

.noUi-connect {
  height: 100%;
  width: 100%;
}

.noUi-origin {
  height: 10%;
  width: 10%;
}

/* Offset direction
 */

.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto;
}

/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */

.noUi-vertical .noUi-origin {
  width: 0;
}

.noUi-horizontal .noUi-origin {
  height: 0;
}

.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}

.noUi-touch-area {
  height: 100%;
  width: 100%;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Slider size and handle placement;
 */

.noUi-horizontal {
  height: 18px;
}

.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  right: -17px;
  top: -6px;
}

.noUi-vertical {
  width: 18px;
}

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  right: -6px;
  top: -17px;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto;
}

/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */

.noUi-target {
  background: #FAFAFA;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  -webkit-box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
          box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}

.noUi-connects {
  border-radius: 3px;
}

.noUi-connect {
  background: #3FB8AF;
}

/* Handles and cursors;
 */

.noUi-draggable {
  cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}

.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  -webkit-box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
          box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
}

.noUi-active {
  -webkit-box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
          box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
}

/* Handle stripes;
 */

.noUi-handle:before,
.noUi-handle:after {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px;
}

.noUi-handle:after {
  left: 17px;
}

.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}

.noUi-vertical .noUi-handle:after {
  top: 17px;
}

/* Disabled state;
 */

[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed;
}

/* Base;
 *
 */

.noUi-pips,
.noUi-pips * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.noUi-pips {
  position: absolute;
  color: #999;
}

/* Values;
 *
 */

.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}

.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}

/* Markings;
 *
 */

.noUi-marker {
  position: absolute;
  background: #CCC;
}

.noUi-marker-sub {
  background: #AAA;
}

.noUi-marker-large {
  background: #AAA;
}

/* Horizontal layout;
 *
 */

.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}

.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
      transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal {
  -webkit-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
      transform: translate(50%, 50%);
}

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}

/* Vertical layout;
 *
 */

.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}

.noUi-value-vertical {
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
  padding-left: 25px;
}

.noUi-rtl .noUi-value-vertical {
  -webkit-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
      transform: translate(0, 50%);
}

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}

.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}

.noUi-horizontal .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(50%, 0);
  -ms-transform: translate(50%, 0);
      transform: translate(50%, 0);
  left: auto;
  bottom: 10px;
}

.noUi-vertical .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(0, -18px);
  -ms-transform: translate(0, -18px);
      transform: translate(0, -18px);
  top: auto;
  right: 28px;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?3t34nu");
  src: url("../fonts/icomoon.eot?3t34nu#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?3t34nu") format("truetype"), url("../fonts/icomoon.woff?3t34nu") format("woff"), url("../fonts/icomoon.svg?3t34nu#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-link-right:before {
  content: "\e900";
}

.icon-checkbox-checked:before {
  content: "\e901";
}

.icon-location:before {
  content: "\e902";
}

.icon-user:before {
  content: "\e903";
}

.icon-arrow-banner-left:before {
  content: "\e904";
}

.icon-arrow-banner-right:before {
  content: "\e905";
}

.icon-arrow-link-left:before {
  content: "\e906";
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #1d1d1d;
  overflow-x: hidden;
}

body.lock {
  overflow: hidden;
}

.site__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.site__main {
  padding: calc(91px + 20px) 0px 0px 0px;
}

.site__footer {
  margin-top: auto;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title-h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
}

.title-h3 {
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
}

.title-h5 {
  font-size: 12px;
  line-height: 15px;
}

.btn {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #1d1d1d;
  border-color: #1d1d1d;
  background-color: #fff;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  border: 3px solid;
  padding: 12px 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}

.btn-red {
  border-color: #a80011;
  color: #a80011;
}

.form__body {
  position: relative;
}

.form__body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.9) url("../img/loading.gif") center/50px no-repeat;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.form__body._sending::after {
  opacity: 1;
  visibility: visible;
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 35px;
}

.form__item {
  margin: 0px 0px 20px 0px;
}

.form__label {
  display: block;
  margin: 0px 0px 10px 0px;
}

.form__input {
  height: 40px;
  padding: 10px 15px;
  border-radius: 3px;
  width: 100%;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1%;
  color: #1d1d1d;
  border: 1px solid #8e8e8e;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.form__input::-webkit-input-placeholder {
  -webkit-transition: 0.5s ease all 0s;
  transition: 0.5s ease all 0s;
  color: #8e8e8e;
}

.form__input::-moz-placeholder {
  -moz-transition: 0.5s ease all 0s;
  transition: 0.5s ease all 0s;
  color: #8e8e8e;
}

.form__input:-ms-input-placeholder {
  -ms-transition: 0.5s ease all 0s;
  transition: 0.5s ease all 0s;
  color: #8e8e8e;
}

.form__input::-ms-input-placeholder {
  -ms-transition: 0.5s ease all 0s;
  transition: 0.5s ease all 0s;
  color: #8e8e8e;
}

.form__input::placeholder {
  -webkit-transition: 0.5s ease all 0s;
  -o-transition: 0.5s ease all 0s;
  transition: 0.5s ease all 0s;
  color: #8e8e8e;
}

.form__input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.form__input:focus::-moz-placeholder {
  opacity: 0;
}

.form__input:focus:-ms-input-placeholder {
  opacity: 0;
}

.form__input:focus::-ms-input-placeholder {
  opacity: 0;
}

.form__input:focus::placeholder {
  opacity: 0;
}

.form__input._error {
  -webkit-box-shadow: 0 0 15px red;
          box-shadow: 0 0 15px red;
}

.options {
  padding: 10px 0px 0px 0px;
}

.options__item {
  margin: 0px 0px 10px 0px;
}

.options__input {
  display: none;
}

.options__input:checked + .options__label::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.options__label::before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0px 10px 0px 0px;
}

.options__label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-color: #7a956b;
  border-radius: 50%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.file__item {
  position: relative;
}

.file__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}

.file__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-height: 40px;
  border-radius: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #77608d;
  padding: 0px 20px;
}

.file__preview {
  display: inline-block;
  max-width: 100px;
  padding: 10px 0px 0px 0px;
}

.file__preview img {
  max-width: 100%;
}

.checkbox._error .checkbox__label::before {
  -webkit-box-shadow: 0 0 15px red;
          box-shadow: 0 0 15px red;
}

.checkbox__input {
  display: none;
}

.checkbox__label {
  width: 100%;
  font-size: 16px;
  line-height: 140%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.checkbox__label::before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15px;
          flex: 0 0 15px;
  height: 15px;
  background-color: #fff;
  border: 1px solid #818181;
  border-radius: 0;
  margin: 0px 10px 0px 0px;
}

.checkbox__label::after {
  content: "";
  width: 11px;
  height: 11px;
  position: absolute;
  top: 2px;
  left: 2px;
  background: url(../img/icons/checkbox-checked.svg) no-repeat center/cover;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.checkbox__label a {
  color: #7a956b;
}

.checkbox__input:checked + .checkbox__label::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

textarea.form__input {
  min-height: 120px;
  resize: vertical;
  padding: 20px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  -webkit-filter: drop-shadow(0px 4px 20px rgba(248, 237, 234, 0.5));
          filter: drop-shadow(0px 4px 20px rgba(248, 237, 234, 0.5));
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 2;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  height: 91px;
  padding: 18px 0;
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__logo .logo__link {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 138px;
          flex: 0 0 138px;
  margin-right: 36px;
  -ms-flex-preferred-size: 138px;
      flex-basis: 138px;
}

.header__logo .logo__img {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 138px;
          flex: 0 0 138px;
  width: 100%;
  max-width: 138px;
  padding-bottom: 36px;
  -ms-flex-preferred-size: 138px;
      flex-basis: 138px;
  max-width: 138px;
}

.header__logo .logo__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__location {
  font-size: 12px;
  line-height: 15px;
  color: #8e8e8e;
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__location i {
  margin-right: 5px;
}

.header__location span {
  text-decoration: underline;
}

.header-menu {
  position: relative;
  z-index: 2;
}

.header-menu__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 12px;
}

.header-menu__top .menu__list {
  margin-right: 50px;
}

.header-menu__top .menu__item {
  margin-right: 21px;
}

.header-menu__top .menu__item:last-child {
  margin-right: 0;
}

.header-menu__btn {
  margin-right: 50px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 8px;
  padding-left: 8px;
  border-width: 2px;
  z-index: 3;
}

.header-menu__login {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #1d1d1d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu__login i {
  margin-right: 6px;
}

.header-menu__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-menu__bottom .menu__item {
  margin-right: 49px;
}

.header-menu__bottom .menu__item:last-child {
  margin-right: 0;
}

.header-menu__bottom .menu__link {
  letter-spacing: 0.7px;
}

.header-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list--uppercase {
  text-transform: uppercase;
}

.menu__link {
  font-size: 12px;
  line-height: 15px;
  color: #1d1d1d;
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}

.main__row {
  background-color: #f8edea;
  position: relative;
  border-radius: 0 25px 25px 0;
}

.main__slider {
  padding-left: 81px;
  position: relative;
  padding-right: 370px;
}

.main__slider .slick-arrow {
  position: absolute;
  background-color: transparent;
}

.main__slider .slick-prev {
  font-size: 8px;
  left: 2px;
  bottom: 30px;
  z-index: 1;
}

.main__slider .slick-next {
  font-size: 16px;
  left: 30px;
  color: #a80011;
  bottom: 24px;
}

.main__item-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.main__item-body {
  padding-top: 78px;
  padding-bottom: 156px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 42.5%;
          flex: 0 0 42.5%;
}

.main__hash {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.6px;
  margin-bottom: 8px;
}

.main__attention {
  margin-bottom: 40px;
}

.main__title {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.8px;
  margin-bottom: 2px;
  max-width: 268px;
}

.main__subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.9px;
  max-width: 268px;
}

.main__item-image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main__img {
  position: relative;
  height: 100%;
}

.main__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__form {
  border-radius: 25px;
  background-color: #fff;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px;
  padding-right: 25px;
  padding-left: 25px;
  max-width: 370px;
  -webkit-filter: drop-shadow(0px 4px 20px rgba(168, 0, 17, 0.1));
          filter: drop-shadow(0px 4px 20px rgba(168, 0, 17, 0.1));
}

.main__form .form__item {
  margin-bottom: 10px;
}

.main__form .checkbox {
  margin: 15px 0px 30px 0px;
  margin-bottom: 30px;
}

.main__form .checkbox__label {
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  color: #1d1d1d;
}

.main__form .checkbox__label a {
  color: #a80011;
}

.attention {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #a80011;
}

.attention__first {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 1.1px;
}

.attention__second {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-left: 50px;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 2px;
}

.attention__third {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-weight: 900;
  font-size: 55px;
  line-height: 56px;
  letter-spacing: 2.3px;
}

.page-info {
  color: #818181;
  position: absolute;
  bottom: 54px;
  padding-left: 2px;
}

.page-info__current {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.page-info__all {
  font-size: 12px;
  line-height: 15px;
}

.calculator {
  margin-top: 80px;
  margin-bottom: 80px;
}

.calculator__title {
  margin-bottom: 46px;
}

.calculator__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.calculator__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 54.5%;
          flex: 0 0 54.5%;
  padding-right: 62px;
  border-right: 5px solid #a80011;
}

.calculator__num-slider {
  background-color: #f3f3f3;
  margin: 0 0 51px;
  border-radius: 5px;
}

.calculator__num-slider:last-child {
  margin-bottom: 27px;
}

.calculator__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-left: 62px;
}

.num-slider {
  position: relative;
}

.num-slider__heading {
  font-size: 14px;
  line-height: 17px;
  color: #8e8e8e;
  letter-spacing: 0.2px;
  padding: 21px 25px;
  pointer-events: none;
}

.num-slider__slider {
  width: 100%;
  border: none;
  background-color: transparent;
  height: 5px;
  position: relative;
  margin: 0 0 0 16px;
}

.num-slider__slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
  display: block;
  width: 16px;
  height: 5px;
  background-color: #a80011;
  border-radius: 5px 0 0 5px;
}

.num-slider__slider .noUi-connects {
  border-radius: 0;
}

.num-slider__slider .noUi-connect {
  background-color: #a80011;
  border-radius: 0 5px 5px 0;
  pointer-events: none;
}

.num-slider__slider .noUi-marker.noUi-marker-horizontal.noUi-marker-large,
.num-slider__slider .noUi-marker.noUi-marker-horizontal.noUi-marker-normal,
.num-slider__slider .noUi-marker.noUi-marker-horizontal.noUi-marker-sub,
.num-slider__slider .noUi-value.noUi-value-horizontal.noUi-value-sub {
  display: none;
}

.num-slider__slider .noUi-handle {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #f4faff;
  border-radius: 50%;
  border: 5px solid #a80011;
  width: 20px;
  height: 20px;
  right: -2px;
  top: -7px;
  cursor: pointer;
}

.num-slider__slider .noUi-handle::before,
.num-slider__slider .noUi-handle::after {
  display: none;
}

.num-slider__slider .noUi-pips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  position: initial;
  -webkit-transform: translate(-16px, 0);
      -ms-transform: translate(-16px, 0);
          transform: translate(-16px, 0);
  width: calc(100% + 16px);
}

.num-slider__slider .noUi-value-large {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.2px;
  color: #8e8e8e;
  position: initial;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.num-slider__input {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  color: #1d1d1d;
  z-index: 1;
  padding: 10px 25px;
  background-color: transparent;
  border: 0;
  text-align: right;
}

.calculator-sum__price {
  margin-bottom: 21px;
}

.calculator-sum__text {
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 0.3px;
  margin-bottom: 12px;
}

.calculator-sum__result {
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  letter-spacing: 0.5px;
  color: #a80011;
  white-space: nowrap;
}

.calculator-sum__date {
  margin-bottom: 23px;
}

.calculator-sum__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculator-sum__btn {
  margin-right: 26px;
  white-space: nowrap;
}

.calculator-sum__btn-more {
  border: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.2px;
  color: #a80011;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  padding: 0;
}

.calculator-sum__btn-more span {
  margin-right: 7px;
}

.calculator-sum__btn-more i {
  font-size: 9px;
}

@media screen and (min-width: 992px) {
  .container {
    padding: 0 30px;
  }

  .btn:hover {
    border-color: #a80011;
    color: #a80011;
  }

  .btn-red:hover {
    border-color: #1d1d1d;
    color: #1d1d1d;
  }
}

@media screen and (min-width: 1480px) {
  .title-h5 {
    font-size: calc(10px + 2 * ((100vw - 320px) / (1480 - 320)));
    line-height: calc(15 / 12);
  }

  .main__hash {
    font-size: calc(10px + 2 * ((100vw - 320px) / (1480 - 320)));
    line-height: calc(15 / 12);
  }
}

@media screen and (max-width: 1479.98px) {
  .title-h2 {
    font-size: calc(20px + 10 * ((100vw - 320px) / (1480 - 320)));
  }

  .title-h3 {
    font-size: calc(15px + 2 * ((100vw - 320px) / (1480 - 320)));
    line-height: calc(21 / 17);
  }

  .header-menu__btn {
    font-size: calc(10px + 2 * ((100vw - 320px) / (1480 - 320)));
    line-height: calc(15 / 12);
  }

  .menu__link {
    font-size: calc(10px + 2 * ((100vw - 320px) / (1480 - 320)));
    line-height: calc(15 / 12);
  }

  .main__title {
    font-size: calc(10px + 5 * ((100vw - 320px) / (1480 - 320)));
    line-height: calc(18 / 15);
  }

  .main__subtitle {
    font-size: calc(10px + 10 * ((100vw - 320px) / (1480 - 320)));
    line-height: calc(24 / 20);
  }

  .main__form .form__title {
    font-size: calc(15px + 5 * ((100vw - 320px) / (1480 - 320)));
    line-height: calc(24 / 20);
  }

  .attention__first {
    font-size: calc(15px + 10 * ((100vw - 320px) / (1480 - 320)));
    line-height: calc(30 / 25);
  }

  .attention__second {
    font-size: calc(20px + 20 * ((100vw - 320px) / (1480 - 320)));
    line-height: calc(49 / 40);
  }

  .attention__third {
    font-size: calc(30px + 25 * ((100vw - 320px) / (1480 - 320)));
    line-height: calc(56 / 55);
  }

  .calculator-sum__text {
    font-size: calc(15px + 2 * ((100vw - 320px) / (1480 - 320)));
    line-height: calc(21 / 17);
  }

  .calculator-sum__result {
    font-size: calc(25px + 5 * ((100vw - 320px) / (1480 - 320)));
  }
}

@media (max-width: 1230px) {
  .form__title {
    padding-bottom: calc(20px + 15 * ((100vw - 320px) / (1160)));
  }

  .header__logo .logo__link {
    margin-right: calc(10px + 26 * ((100vw - 320px) / (1160)));
  }

  .header__logo .logo__link {
    -ms-flex-preferred-size: calc(90px + 48 * ((100vw - 320px) / (1160)));
        flex-basis: calc(90px + 48 * ((100vw - 320px) / (1160)));
  }

  .header__logo .logo__img {
    -ms-flex-preferred-size: calc(90px + 48 * ((100vw - 320px) / (1160)));
        flex-basis: calc(90px + 48 * ((100vw - 320px) / (1160)));
  }

  .header__logo .logo__img {
    max-width: calc(90px + 48 * ((100vw - 320px) / (1160)));
  }

  .header-menu__top .menu__list {
    margin-right: calc(0px + 50 * ((100vw - 320px) / (1160)));
  }

  .header-menu__top .menu__item {
    margin-right: calc(10px + 11 * ((100vw - 320px) / (1160)));
  }

  .header-menu__btn {
    margin-right: calc(0px + 50 * ((100vw - 320px) / (1160)));
  }

  .header-menu__btn {
    padding-top: calc(3px + 2 * ((100vw - 320px) / (1160)));
  }

  .header-menu__btn {
    padding-bottom: calc(3px + 2 * ((100vw - 320px) / (1160)));
  }

  .header-menu__btn {
    padding-right: calc(5px + 3 * ((100vw - 320px) / (1160)));
  }

  .header-menu__btn {
    padding-left: calc(5px + 3 * ((100vw - 320px) / (1160)));
  }

  .header-menu__bottom .menu__item {
    margin-right: calc(0px + 49 * ((100vw - 320px) / (1160)));
  }

  .main__slider {
    padding-left: calc(0px + 81 * ((100vw - 320px) / (1160)));
  }

  .main__item-body {
    padding-top: calc(15px + 63 * ((100vw - 320px) / (1160)));
  }

  .main__item-body {
    padding-bottom: calc(80px + 76 * ((100vw - 320px) / (1160)));
  }

  .main__attention {
    margin-bottom: calc(0px + 40 * ((100vw - 320px) / (1160)));
  }

  .main__form {
    padding-right: calc(10px + 15 * ((100vw - 320px) / (1160)));
  }

  .main__form {
    padding-left: calc(10px + 15 * ((100vw - 320px) / (1160)));
  }

  .main__form .checkbox {
    margin-bottom: calc(10px + 20 * ((100vw - 320px) / (1160)));
  }

  .attention__second {
    padding-left: calc(10px + 40 * ((100vw - 320px) / (1160)));
  }

  .calculator {
    margin-top: calc(50px + 30 * ((100vw - 320px) / (1160)));
  }

  .calculator {
    margin-bottom: calc(50px + 30 * ((100vw - 320px) / (1160)));
  }

  .calculator__title {
    margin-bottom: calc(24px + 22 * ((100vw - 320px) / (1160)));
  }

  .calculator__left {
    padding-right: calc(-45px + 107 * ((100vw - 320px) / (1160)));
  }

  .calculator__right {
    padding-left: calc(-45px + 107 * ((100vw - 320px) / (1160)));
  }

  .calculator-sum__text {
    margin-bottom: calc(10px + 2 * ((100vw - 320px) / (1160)));
  }

  .calculator-sum__btn {
    margin-right: calc(-20px + 46 * ((100vw - 320px) / (1160)));
  }
}

@media screen and (max-width: 991px) {
  .main__slider {
    padding-right: 300px;
  }

  .main__item-body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .main__form {
    max-width: 300px;
  }

  .calculator__left {
    padding-right: 15px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .calculator__right {
    padding-left: 15px;
    max-width: 250px;
  }

  .calculator-sum__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }

  .calculator-sum__btn {
    margin: 0px 0px 15px 0px;
  }
}

@media screen and (max-width: 767px) {
  .site__main {
    padding: calc(55px + 20px) 0px 0px 0px;
  }

  .header__body {
    height: 55px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__location {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 47px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 15px;
    height: 12px;
    -webkit-transition: 0.3s ease all 0s;
    -o-transition: 0.3s ease all 0s;
    transition: 0.3s ease all 0s;
    padding: 7px 10px;
    z-index: 3;
  }

  .header__burger::before,
  .header__burger::after,
  .header__burger span {
    content: "";
    background-color: #1d1d1d;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    border-radius: 10px;
    -webkit-transition: 0.3s ease all 0s;
    -o-transition: 0.3s ease all 0s;
    transition: 0.3s ease all 0s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger span {
    top: 6px;
  }

  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 6px;
  }

  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 6px;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.98);
    overflow: auto;
    padding: calc(55px + 16px) 15px 25px;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
            transform: translate(0, -100%);
    -webkit-transition: 0.3s ease all 0s;
    -o-transition: 0.3s ease all 0s;
    transition: 0.3s ease all 0s;
  }

  .header__menu.active {
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
  }

  .header-menu__top {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin-bottom: 0;
  }

  .header-menu__top .menu__item {
    margin: 0;
  }

  .header-menu__btn {
    margin-right: 40px;
  }

  .header-menu__login {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 47px;
  }

  .header-menu__bottom {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-bottom: 47px;
  }

  .header-menu__bottom .menu__item {
    margin: 0;
  }

  .header-menu__list {
    display: block;
  }

  .header-menu .menu__item {
    margin-bottom: 15px;
  }

  .header-menu .menu__item:last-child {
    margin-bottom: 0;
  }

  .header-menu .menu__link {
    font-size: 15px;
    line-height: 18px;
  }

  .main__slider {
    padding-right: 320px;
  }

  .main__item-body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    position: relative;
    z-index: 1;
  }

  .main__item-image {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.25;
  }

  .main__img img {
    -o-object-fit: contain;
       object-fit: contain;
  }

  .main__form {
    -webkit-box-shadow: 0px 4px 20px rgba(248, 237, 234, 0.7);
            box-shadow: 0px 4px 20px rgba(248, 237, 234, 0.7);
  }

  .attention {
    max-width: 250px;
  }
}

@media screen and (max-width: 575px) {
  .site__main {
    padding: 55px 0px 0px 0px;
  }

  .main__container {
    padding: 0;
  }

  .main__row {
    background-color: transparent;
    border-radius: 0;
  }

  .main__slider {
    padding: 0 15px;
    background-color: #f8edea;
  }

  .main__slider .slick-prev {
    left: 50%;
    -webkit-transform: translate(calc(-50% - 24px), 0);
        -ms-transform: translate(calc(-50% - 24px), 0);
            transform: translate(calc(-50% - 24px), 0);
  }

  .main__slider .slick-next {
    left: 50%;
    -webkit-transform: translate(calc(-50% + 14px), 0);
        -ms-transform: translate(calc(-50% + 14px), 0);
            transform: translate(calc(-50% + 14px), 0);
  }

  .main__item-body {
    text-align: center;
    padding: 15px 0 143px;
  }

  .main__title {
    margin: 0 auto 3px;
    font-size: 13px;
    line-height: 16px;
  }

  .main__subtitle {
    margin: 0 auto;
    font-size: 15px;
    line-height: 18px;
  }

  .main__item-image {
    max-height: 358px;
  }

  .main__form {
    position: initial;
    padding: 30px 12px;
    margin: 50px 15px 60px;
    max-width: 100%;
  }

  .main__form .form__title {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .main__form .checkbox {
    margin: 20px 0 25px;
  }

  .main__form .form__button {
    margin: 0 auto;
  }

  .attention {
    max-width: 100%;
    margin-bottom: 142px;
  }

  .attention__first {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 25px;
    line-height: 30px;
  }

  .attention__second {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 0;
    font-size: 40px;
    line-height: 49px;
  }

  .attention__third {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 55px;
    line-height: 56px;
  }

  .page-info {
    padding: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  .calculator__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .calculator__left {
    padding-right: 0;
    border-right: 0;
    margin-bottom: 30px;
  }

  .calculator__right {
    padding-left: 0;
    text-align: center;
    max-width: 100%;
  }

  .calculator-sum__actions {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 400px) {
  .checkbox__label::before {
    margin-right: 4px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .header__location {
    display: none;
  }
}