body {
    font-family: $fontMain;
    font-weight: $fontWeight;
    font-size: $fontSize;
    line-height: $lineHeight;
    letter-spacing: 0.2px;
    color: $Black;
    overflow-x: hidden;

    &.lock {
        overflow: hidden;
    }
}

.site {
    &__wrap {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    &__main {
        padding: calc(#{$size-header-height} + 20px) 0px 0px 0px;

        @media screen and (max-width: 767px) {
            padding: calc(#{$size-header-height-mobile} + 20px) 0px 0px 0px;
        }
        @media screen and (max-width: 575px) {
            padding: $size-header-height-mobile 0px 0px 0px;
        }
    }

    &__footer {
        margin-top: auto;
    }
}

.container {
    max-width: #{$size-container + px};
    margin: 0 auto;
    padding: 0 15px;

    @media screen and (min-width: 992px) {
        padding: 0 30px;
    }
}

.row {
    display: flex;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.quote-title {
    position: relative;
    padding-left: 20px;

    &::before {
        content: "";
        display: block;
        height: 100%;
        width: 5px;
        background: $Red;
        position: absolute;
        left: 0;
    }
}

.first-section {
    @include adaptiv-value("margin-top", 20, 15, 1);
}
