// === Sizes ===
$size-container: 1230;
$layoutDesktop: 1480;
$layoutMobile: 320;
$size-header-height: 91px;
$size-header-height-mobile: 55px;

// === Font ===
$fontMain: "Montserrat";
$fontWeight: 400;
$fontSize: 14px;
$lineHeight: 17px;

// === Color ===
$Red: #a80011;
$Black: #1d1d1d;
$White: #fff;
$Green: #01a880;
$Grey: #8e8e8e;
$LGrey: #f3f3f3;
$DGrey: #818181;
$Pink: #f8edea;
